.topo{   

/*Espaçamento dos elementos*/
display: flex;
flex-direction: row-reverse;
justify-content: space-around;
align-items: baseline;

}

nav img.tamanho{
position: absolute;
width: 307px;
height: 63.02px;
left: 160px;
top: 78.78px;
}

/* -------------------------- */

.containerEbook {
            width: 100vw;
            height: 100vh;
            background: #6C7A89;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center
         }
     .box {
            width: 300px;
            height: 300px;
            background: #fff;
        }
         body {
            margin: 0px;
         }
    

/* -------------------------- */

/* Estilo do rodapé sobre nós */

.container2 {
    display: flex;    
    flex-direction: row;
    justify-content: space-around;   
    align-items: baseline;
    height: 300px; 
    position: absolute;
    width: 1440px;
    height: 579px;
   left: 0px;
   top: 1693px;

/* SADASDAD */
background: #14B614;

}

.container2 > div {
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}


/* -------------------------- */

/* Estilo do rodapé */

footer .container {
        position: absolute;
        width: 1440px;
        height: 101px;
        left: 0px;
        top: 2171px;
        background: rgba(92, 184, 92, 0.5);

}

.container > div{
position: absolute;
width: 851px;
height: 74px;
left: 295px;
top: 2211px;

font-family: Helvetica Neue;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
/* or 153% */

display: flex;
align-items: flex-end;
text-align: center;
letter-spacing: 5px;

color: #FFFFFF;
background: rgba(92, 184, 92, 0.5);
}



/* ---------------------------- */
/* Página de vendas, marketing, etc */

h1 .titulo{
position: absolute;
width: 738px;
height: 139px;
left: 351px;
top: 191px;

font-family: Helvetica Neue;
font-style: normal;
font-weight: bold;
font-size: 64px;
line-height: 78px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

}

p .titulo2{
    position: absolute;
width: 715px;
height: 69px;
left: 363px;
top: 362px;

font-family: Helvetica Neue;
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 36px;
display: flex;
align-items: center;
text-align: center;

color: #777777;
}

.corpo{
    position: absolute;
width: 738px;
height: 1562px;
left: 351px;
top: 1021px;

font-family: HelveticaNeue;
font-size: 21px;
line-height: 25px;

color: #000000;
}

img .modelo{
    position: absolute;
width: 1120px;
height: 342px;
left: 160px;
top: 639px;

background: linear-gradient(0deg, rgba(20, 182, 20, 0.42), rgba(20, 182, 20, 0.42)), url();
}

img .modelo2{
    position: absolute;
width: 742px;
height: 257px;
left: 349px;
top: 1708px;

background: url(christopher-gower-m_HRfLhgABo-unsplash.jpg);
}